// @import "bootstrap/scss/bootstrap";
// @import "./auth/login";
// @import "bootstrap_custom";

*,
::after,
::before {
  box-sizing: border-box;
}
:root{
  --main-color:#00aebf;
  --extra-color:#2985be;
  --border-color:#f2f2f2;
  --white-color:#fff;
  --text-secondary:#999;
}

body,
html {
  height: 100%;
}
.form-login{
  //background: #fff4ed;
  h1{
    font-size: 28px;
    font-weight: 600;
    color: #474747;
  }
  img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
  .form-login-title{
    font-size: 23px;
    font-weight: 600;
  }
}
#app {
  height: 100%;
  overflow-x: hidden;
  background: #00acba14;

  .form {
    width: 30%;
    margin: auto;
    background: #fff;
    padding: 50px 40px;
    border-radius: 5px;
    a{
      color: #23ACF6;
    }
    button {
      background: var(--main-color);
      color: #fff;
      &:hover{
        background-color: var(--extra-color);
      }
    }
  }
  .login-page{
    height: 100%;
    //background: #fff4ed;
  }
}

body {
  margin: 0;
}

.homepage {
  max-height: 98vh;
}
.conversation-info{
  @media screen and (max-width:1170px) {
    display: none;
  }
}
#sidebarleft {
  height: 98vh;
  background-color: var(--main-color);
  display: flex;
  padding-left: 0;
  padding-right: 0;
  flex-direction: column;
  width: 70px;
}

#sidebarleft .nav {
  align-content: center;
  padding-left: 0;
  display: flex;
}

#sidebarleft .nav li {
  margin-top: 50px;
}

#sidebarleft .nav i {
  font-size: 20px;
}

#logo {
  width: 40px;
  margin: 20px;
  padding: 5px 0 5px 5px;
}

#conversation {
  background-color: #e6e8e8;
  max-height: 100vh;
  overflow-y: auto;
  padding: 0;
  .list-group{
    .active{
      background-color: var(--extra-color);
    }
  }
}

#conversation::-webkit-scrollbar {
  display: none;
}

#conversation-avatar {
  position: relative;
}

.card img {
  width: 100px;
  height: 100px;
}

.avatar-default img {
  width: 100px;
  height: 100px;
}

.modal-content img {
  width: 48px;
  height: 48px;
  margin-right: 5px;
}

.modal-content .media {
  display: flex;
}