.chat-body {
  max-height: 100vh;
  overflow-y: auto;

  .chat-content-rl {
    margin-bottom: 60px;
  }

  .add-user-group {
    position: absolute;
    top: 5px;
    font-size: 12px;
  }

  #messageBody {
    .container {
      padding-bottom: 70px;
    }

    .msg-rl-content {
      background-color: #fff;
      color: #555;
      padding: 5px 20px;
      border-radius: 10px;
      margin-bottom: 10px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 10px;
        width: 2px;
        height: 38px;
        background-color: var(--extra-color);
        top: 50%;
        transform: translateY(-50%);
      }

      .msg-rl-user {
        color: #000;
        font-weight: 600;
      }

      .content {
        color: #5b5b5b;
      }
    }
  }

  .msg-date {
    margin: 20px 0;
    position: relative;

    span {
      background: var(--border-color);
      padding: 8px;
      border-radius: 10px;
    }

    &::before {
      content: "";
      background-color: var(--border-color);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 1px;
      width: 46%;
      right: 0;
    }

    &::after {
      content: "";
      background-color: var(--border-color);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 1px;
      width: 46%;
      left: 0;
    }
  }
}

.chat-header img {
  width: 60px;
  height: 60px;
}

.chat-body::-webkit-scrollbar {
  display: none;
}

#status-online {
  position: absolute;
  top: 17px;
  left: 7px;
  font-size: 8px;
  color: green;
}

#status-offline {
  position: absolute;
  top: 10px;
  left: 7px;
  font-size: 8px;
  color: gray;
}

.message-count {
  padding: 0 4px 0;
  color: white;
  background-color: var(--extra-color);
  border-radius: 50%;
}

.appbar .appbar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e5e9f2;
  width: 100%;
  padding: .88rem 0;
}

.message-self {
  text-align: right;
  margin-bottom: 1.15rem;
}

.message-deleted {
  display: none;
}

.message-self .message-content {
  background-color: var(--main-color);
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  text-align: left;
  display: inline-block;
}

.message {
  text-align: left;
  margin-bottom: 1.25rem;
}

.message .message-content {
  padding: 10px 15px;
  background-color: #dcdcdc;
  border-radius: 10px;
  text-align: left;
  display: inline-block;

  .msg-user {
    color: #6f6f6f;
  }
}

#messageBody {
  .recover-message {
    background-color: var(--white-color);
    background: var(--white-color);
    color: var(--text-secondary);
    border: 1px solid #ccc;
  }
}

.message .message-content .message-attachment {
  display: flex;
  align-items: center
}

.message .message-content .message-attachment .btn-icon {
  margin-right: .625rem
}

.message .message-options {
  display: inline-flex;
  align-items: center;
  font-size: .75rem;
  color: #adb5bd;
  margin-top: .3125rem;
}

.message-self .message-options {
  flex-direction: row-reverse;
  display: inline-flex;
  align-items: center;
  font-size: .75rem;
  color: #adb5bd;
  margin-top: .3125rem;
}

.message .message-options>* {
  margin-left: .3125rem;
  margin-right: .3125rem;
}

.message .message-options> :not(.avatar) {
  height: 1.125rem;
  line-height: 1.125rem;
  display: inline-block;
  vertical-align: middle
}

.message-self .message-options>* {
  margin-left: .3125rem;
  margin-right: .3125rem;
}

.message-options .avatar img {
  width: 30px;
  height: 30px;
}

.message-self .message-options> :not(.avatar) {
  height: 1.125rem;
  line-height: 1.125rem;
  display: inline-block;
  vertical-align: middle
}

.message-reply {
  margin: 0 30px -20px 0;
}

.reply-title {
  margin-top: 20px;
  font-size: 13px;
}

.message-reply .message-content {
  padding: 1rem 2.25rem;
  background-color: #dcdcdc;
  margin-left: 1.25rem;
  border-radius: 1.25rem;
  text-align: left;
  display: inline-block;
  max-width: 25rem;
  color: #706d6d;
}

.contact-list .contacts-item {
  cursor: pointer;
  border-radius: 5px;
}

.contact-list .contacts-item:hover {
  border: 1px solid var(--main-color);
}

.chat-body .chat-footer textarea {
  padding: 20px 0 20px 60px;
  resize: none;
  border: none;
}

.chat-body .chat-footer {
  position: fixed;
  bottom: 0;
  width: 60%;

  .msg-rl {
    position: absolute;
    bottom: 100%;
    width: 99%;
    background: var(--border-color);
    display: flex;
    padding: 10px;
    align-items: center;

    .msg-rl-content {
      width: 80%;

      .title {
        span {
          font-weight: 600;
        }
      }

      .content {
        color: #6f6f6f;
      }
    }

    .btn-close-rl {
      width: 20%;

      button {
        float: right;
        background: none;
        border: none;
        padding-right: 10px;
        font-size: 23px;
        color: #6f6f6f;
      }
    }
  }
}

.chat-body .chat-footer .form-control {
  border: 0;
  border-top: 1px solid #e5e9f2;
  border-radius: 0
}

.chat-body .chat-footer .send-icon {
  position: absolute;
  right: 20px;
  top: 10px;
  height: 3rem;
  width: 3rem;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center
}

.chat-body .chat-footer .attachment {
  position: absolute;
  left: 20px;
  top: 22px;
  z-index: 1
}

//conversation_detail

.chat-infor .infor-avatar img {
  width: 70px;
  height: 70px;
}

.chat-infor {
  text-align: center;
}

.user-chat-infor span {
  opacity: 0.5;
  font-size: 15px;
}

.chat-start {
  padding: 100px;
  text-align: center;
}

.chat-start img {
  width: 60px;
  height: 60px;
}

#conversation-user-avatar img {
  width: 40px;
  height: 40px;
}